{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            {% include 'product/auth.html' %}
            {% include 'product/message.html' %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 well">
            <h1>{{ product.name }}</h1>
            <h3>Price: {{ product.price }} USD</h3>
            <p>{{ product.description }}</p>
            <form class="form-group" action="{%  url 'like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="slug" value="{{ product.slug }}">
                <button type="submit" class="btn btn-default" style="margin-top: 5px">{{ product.like_count }} Like</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
            <div>
                <h4>Leave a Comment:</h4>
                <form class="form-group" action="{% url 'add_comment' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" rows="3" name="text"></textarea>
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary" style="margin-top: 5px">Submit</button>
                </form>
            </div>
            {% if comments %}
                <div class="panel panel-default">
                    {% for c in comments %}
                        <div class="panel-heading">
                            <strong>{{ c.email }}</strong> <span class="text-muted">{{ c.created_at }}</span>
                        </div>
                        <div class="panel-body">
                            {{ c.text }}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3 style="color: grey; text-align: center">Product does not have comments</h3>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock content %}