{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block head_include %}
        <script src="{% static 'product/js/jquery-3.1.1.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'product/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'product/css/main.css' %}">
    {% endblock head_include %}
</head>
<body>
<div class="container">
    {% block content %}{% endblock content %}
    <script src="{% static 'product/js/bootstrap.min.js' %}"></script>
</body>
</html>